
.game{
    background-image: url("jump.webp");
    background-repeat: no-repeat;
    background-size: 1300px 800px;
    width: 1300px;
    height: 700px;
    border: 2px solid black;
    margin: auto;
}
#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 440px;
}
.animate{
    animation: jump 0.3s linear;
}
@keyframes jump {
    0%{top: 390px;}
    30%{top: 340px;}
    70%{top: 340px;}
    100%{top: 390px;}

}
#block{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 420px;
    left: 1280px;
    animation: run 1s infinite linear;
}
@keyframes run {
    0%{left: 1280px;}
    100%{left: -20px;}
}
p{
    text-align: center;
}